<style>

  .container {
    width: 800px;
    justify-content: center;
    align-items: center;
    align-content: center;
    display: flex;
    flex-direction: column;
  }

  .value {
    margin: 5px;
    padding: 10px;
    background: #8257E6;
    color: white;
    border-radius: 6px;
    width: 15px;
    text-align: center;
    text-decoration: none;
  }

  .level {
    display: flex;
    margin: 10px;
    justify-content: space-between;
    width: 350px;
  }

  .answers {
    width: 350px;
    display: flex;
    justify-content: space-between;
  }

</style>

<div class="container">
  <label>Olá <strong>{{name}}</strong>! Tudo bem?</label>

  <h3>{{title}}</h3>
  <br />
  <strong>{{description}}</strong>

  <div class="level">
    <span>Pouco provável</span>
    <span>Muito provável provável</span>
  </div>

  <div class="answers">
    <a class="value" href="{{link}}/survey/1?u={{id}}">1</a>
    <a class="value" href="{{link}}/survey/2?u={{id}}">2</a>
    <a class="value" href="{{link}}/survey/3?u={{id}}">3</a>
    <a class="value" href="{{link}}/survey/4?u={{id}}">4</a>
    <a class="value" href="{{link}}/survey/5?u={{id}}">5</a>
    <a class="value" href="{{link}}/survey/6?u={{id}}">6</a>
    <a class="value" href="{{link}}/survey/7?u={{id}}">7</a>
    <a class="value" href="{{link}}/survey/8?u={{id}}">8</a>
    <a class="value" href="{{link}}/survey/9?u={{id}}">9</a>
    <a class="value" href="{{link}}/survey/10?u={{id}}">10</a>
  </div>

  <br />
  <br />

  <strong>Sua opinião é muito importante para nós</strong>
  <h3>Equipe | <strong>NLW</strong></h3>
</div>